/* styles sheet for info button in nav bar */
body{
    background-color: rgb(233, 225, 218);
}
/* header start */

header{
    display: flex;
    background-image: linear-gradient(to right, rgb(0, 78, 59) , rgb(0, 48, 60));
    height: 70px;
    align-items: center;
    padding-left: 10px;
    padding-bottom: 20px;

}

header h1{
    color: rgb(252, 250, 248);
}
/* header end */