
*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(233, 225, 218);
}
/* header start */

header{
    display: flex;
    background-image: linear-gradient(to right, rgb(0, 78, 59) , rgb(0, 48, 60));
    height: 70px;
    align-items: center;
    padding-left: 10px;
}

header h1{
    color: rgb(252, 250, 248);
    padding-bottom:20px;
}
/* header end */

/* navigation drop down start */
main #nav{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    margin: 10px 0 20px 0;
    padding: 0 20px 0 20px;
    text-transform: uppercase;
}

.dropdown-content p{
    font-size: medium; 
    background-color: rgb(38, 167, 154);
    color: rgb(252, 250, 248);
    height: 40px;
    text-align: center;
    line-height: 40px;
}

#nav a{
    width:100%;
    text-align: center;
    border-bottom: 2px solid rgb(151, 151, 151);
}

#nav a:hover{
    background-image: linear-gradient(to right, rgb(0, 78, 59) , rgb(0, 48, 60));
    color: rgb(252, 250, 248);
}

/* navigation drop down end */

/* Starter info start */





 h5{
    display: block;
    justify-content: center;
    width: fit-content;
    margin: 0 0 20px 0;
    text-decoration: underline;

}

.paragraph-container{
    display: flex;
    gap: 10px;
    padding: 0 0 0 20px;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    height: 455px;
    width: 300px;
    border: 2px solid rgb(38, 167, 154);
    border-radius: 15px;
    background-color: rgb(252, 250, 248);
}
/* Start ingo end */


#countryInfo, #stateInfo{
    position: relative;
    max-width: 300px;
    left: 23px;
    /* margin-left: 695px; */
}
/* The Modal (background) */
.modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: fit-content; /* Full height */
     /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    height: 25%;
    margin: auto;
    margin-bottom: 10000px;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    font-size: 25px;
  }

  /* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
#mapid {height: 500px}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.legendItem{
    display: flex;
}
